@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
  background: rgb(199, 155, 155);
  margin: 0;
}
body{  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  
}
.container{
  margin: 0 auto;
  max-width: 1280px;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 72px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
  align-items: center;
}
.brand .img{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 76px;
  height: 42px;
}
.option{
  display: flex;
  list-style: none;
  max-width: 336px;
  height: 24px;
  gap: 24px;
  justify-content: space-between;
}
button{
  all: unset;
  background: red;
  color: white;
  padding: 6px 16px;
  height: 32px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  border-radius: 5px;
}
.hero{
  display: flex;
  align-items: center;
  height: calc(100vh-72px);
}
.info{
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 595px;
  margin-top: 60px;
  padding-left: 50px;
}
.info h1{
  font-size: 100px;
  line-height: 95px;
  text-align: center;
}
.info p{
  color: rgb(43, 42, 42);
  font-size: 20px;
}
.hero-btn{
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.hero-btn .second{
  background: transparent;
  color: black;
  border: 1px solid black;
}
.herologo{
  max-width: 530px;
  height: 489px;
  padding-left: 30px;
  align-items: center;
}
.logo{
  display: flex;
  flex-direction: row;
  gap:10px;
  margin-top: 2px;
}
@media (min-width: 768px) {

  .hero {
    flex-direction: row;
    padding: 0;
  }

  .info {
    padding-left: 50px;
    width: 50%;
  }

  .herologo {
    max-width: 530px;
    height: 489px;
    padding-left: 30px;
  }

  .info h1 {
    font-size: 4rem;
  }

  .info p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  main{
    height: calc(100vh-72px);
    margin-top: 90px;
  }.info h1 {
    font-size: 5rem;
  }

  .info p {
    font-size: 1.5rem;
  }

  .hero {
    height: calc(100vh - 72px);
  }

  .info {
    padding-left: 50px;
  }
}