@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Orbitron:wght@400..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
body{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(15deg, #434343 0%, black 100%);
}
.calculator{
    border: 0.5px solid darkcyan;
    padding: 20px;
    border-radius: 15px;
    font-size: large;
    background-image: linear-gradient( 135deg, #0c061a5d 10%, #326f8333 100%);
    box-shadow: inset 0 -3em 3em rgb(128 128 128/ 30%),
    0 0 0 0.2px white,
    0.3em 0.3em 1em rgb(00 0 0 / 60%);
}
.input{
    input{
        width: 100%;
        padding: 35px;
        margin: 1px;
        border: none;
        border-radius: 15px;
        background: linear-gradient(to top, #536976, #292e49);
        color: cyan;
        font-size: 25px;
        text-align: right;
        cursor: pointer;
    }
    input::placeholder{
        font-size: 25px;
        color: aquamarine;
    }
}
button{
    
    height: 70px;
    width: 70px;
    padding: 2px;
    margin: 12px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 2px 3px 4px 5px rgba(0, 153, 255, 0.192);
    font-size: large;
    color: gold;
    cursor: pointer;
}
button:hover {
    background-color:#8deef0c3;
    color: black;
    transition: 0.2s;
}

button:disabled {
    background-color: #0be4f3;
    cursor: not-allowed;
}
.operator{
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.016),cyan);
    color: red;
}